<div class="border-2 border-green-500 p-4 rounded-lg text-center ">
  <%= image_tag "graph.png", alt: "graph a dynamiser", class: 'm-auto mb-3' %>
  <p>Ce mois-ci, </p>
  <p class="text-2xl"><span class="text-green-500">10</span> sur <span class="text-green-500">10</span></p>
  <p class="mb-5">documents ont été téléchargés</p>
  <%= link_to "Vérifier mes chargements", pages_path, class: 'text-sm font-semibold bg-green-500 text-white rounded-full m-auto p-3 px-4 text-white hover:bg-green-600 hover:text-white'  %>
</div>
