@import "tailwindcss/base";

@layer base {
  @font-face {
    font-family: 'Cabin Sketch';
    font-style: bold;
    font-weight: 400;
    src: local('cursive'), url(./fonts/CabinSketch-Bold.ttf) format('ttf');
  }
}
@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import "components/button";
@import "components/homepage";
