
<%= form_with model: @credential, class: "flex flex-col justify-center items-center pb-3" do |f| %>

    <div class='my-4 w-full px-2'>
        <%= f.text_field :name , placeholder: 'Nom du document',
        class: 'w-full px-4 py-2 bg-white text-gray-500 rounded-full border-solid border-2 border-gray-400 focus:outline-none'%>
    </div>
    <%= f.submit "Suivant", class: 'text-sm font-semibold bg-indigo-500 text-white rounded-full m-auto p-3 px-12 text-white hover:bg-indigo-500 hover:text-white' %>
<% end %>
